@import "tailwindcss";

@theme {
  /* colors */
  --color-rich-black: #030A1B;
  --color-bleu-de-france: #228EE5;
  --color-deep-space-sparkle: #4C5F68;
  --color-aurometalsaurus: #607985;
  --color-police-blue: #3b505b;
  --color-jet-stream: #BCC8CC;
  --color-dandelion: #E5DB22;
  --color-gray: #808080;
  --color-persian-pink: #EF76B9;
  /* blur */
  --blur-2xs: 2px;
  /* shadow */
  --shadow-bleu-de-france: 0 4px 12px -1px rgba(34, 142, 229, .5); 
  /* spacing */
  --spacing-122px: 122px;
  --spacing-302px: 302px;
  --spacing-795px: 795px;
  --spacing-95per: 95%;
}

@layer components {
  a {
    @apply focus-visible:outline-0;
  }

  input, button {
    @apply outline-none focus:ring-offset-0 focus:ring-transparent focus-visible:outline-0;
  }

  button {
    @apply cursor-pointer;
  }

  .genres-carousel .swiper-button-prev, 
  .genres-carousel .swiper-button-next {
    @apply !text-white bg-rich-black !w-8 !h-full !top-1/2 !-translate-y-1/2 !mt-0 after:!text-base;
  }

  .genres-carousel .swiper-button-prev {
    @apply !left-0 rounded-r-full;
  }

  .genres-carousel .swiper-button-next {
    @apply !right-0 rounded-l-full;
  }

  .genres-carousel .swiper-button-disabled {
    @apply !hidden;
  }

  /* .genres-carousel .swiper-button-prev:not(.swiper-button-disabled),
  .genres-carousel .swiper-button-next:not(.swiper-button-disabled) {
    @apply before:absolute before:w-2 before:h-full before:bg-gradient-to-l before:from-white/90 before:to-transparent before:rounded-r before:-z-10; 
  }

  .genres-carousel .swiper-button-prev:not(.swiper-button-disabled) {
    @apply before:left-0;
  }

  .genres-carousel .swiper-button-next:not(.swiper-button-disabled) {
    @apply before:-right-3;
  } */

  .thumbs {
    @apply !p-20;
  }

  .thumbs .swiper-slide-thumb-active {
    @apply !scale-[135%] !z-10;
  }

  .thumbs .swiper-slide-thumb-active figure {
    @apply after:content-none;
  }
}

@layer utilities {
  input:-webkit-autofill {
    @apply !bg-transparent !text-inherit !appearance-none;
  }
}