@import "tailwindcss";

@theme {
  /* colors */
  --color-rich-black: #030A1B;
  --color-bleu-de-france: #228EE5;
  --color-deep-space-sparkle: #4C5F68;
  --color-aurometalsaurus: #607985;
  --color-police-blue: #3b505b;
  --color-jet-stream: #BCC8CC;
  --color-dandelion: #E5DB22;
  /* blur */
  --blur-2xs: 2px;
  /* spacing */
  --spacing-122: 122px;
  --spacing-174: 174px;
  --spacing-660: 660px;
  --spacing-762: 762px;
}

@layer components {
  .thumbs {
    @apply !p-20;
  }

  .thumbs .swiper-slide-thumb-active {
    @apply !scale-[135%] !z-10;
  }

  .thumbs .swiper-slide-thumb-active figure {
    @apply after:content-none;
  }
}